
.textConoceBali{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgConoceBali{
    display: flex;
    justify-self: center;
    position: relative !important;
    width: inherit;
}

.conoceBaliImgContainer{
    width: 40vw;
}

.conoceBaliParagraph{
    margin: 4vw 0;
    width: 40vw;
    font-size: 1.05vw;
}

.conoceBaliParagraph2{
    margin: 9vw 7vw;
    font-size: 1.05vw;
}

.studio2Container{
    margin: 7vw 5vw;
}

.ademasContainer{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
}

.conocePhotosContainer{
    min-height: 700px;

}

.video-background {
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegura que el video esté detrás del contenido */
    overflow: hidden;
  }

  #background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra toda la pantalla */
  }

.conocePhoto2{
    position: relative !important;
    display: block;
    width: 15% !important;
    height: auto !important;
    margin-right: 25vw;
    margin-left: auto;
    z-index: 1; /* Asegura que el contenido esté delante del video */
}

.creditsPhoto{
    color: aquamarine;
    margin-right: 26vw;
    margin-left: auto;
    display: flex;
    width: fit-content;
    font-size: 0.5vw;
}