

.handleClickSetEstudioContainer{
    display: flex;
}

.equiposContainer{
    display: flex;
    flex-direction: column;
}

.switchBtnEstudios{
    margin-left: auto;
    margin-right: auto;
}

.studioPalaceTxt{
    width: fit-content;
    font-size: 2vw;
    margin: auto;
    font-style: italic;
}
.setEstudioBtn {
    border: none;
    align-items: center;
    font-size: 2.5vw;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}
.studioPalaceContainer{
align-content: center;}

.setDuoTxt{
    position: relative !important;
    display: block;
}

.mapContainer{
    background-color: black;
    display: flex;
}

.studioPlan{
    height: 80% !important;
    width: 80% !important;
    padding: 4vw;
    position: relative !important;
    margin: auto;
}

.cameraImg{
    padding: 15px;
}

.iluminacionContainer, .modificadoresContainer, .fondosContainer, .complementariosContainer, .utileriaContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    
}

.iluminacionVideoContainer{
    width: 33%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.utileriaContainer{
    margin-bottom: 5vw;
}


.imgContainer{
    background-color: black;
}

.estudioImg{
    position: relative !important;
    display: block;
}

.equipoTitle{
    font-size: 3vw;
    font-weight: 700;
    margin: 40px 0;
}
.downloadBtn{
    background-color: black;
    border-radius: 50px;
    padding: 10px;
    border: none;
    color: white;
    margin: 20px 0 ;
    cursor: pointer;   
}

.downloadBtn:active{
    background-color: white;
    color: black;
}
.setsContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 100px;
  
}


.setPalaceImgLong{
    position: relative !important;
}

.miniCamSet{
    background-color: white;
}