

.handleClickSetEstudioContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}

.equiposContainer{
    display: flex;
    flex-direction: column;
}

.switchBtnEstudios{
    margin-left: auto;
    margin-right: auto;
}

.studioPalaceTxt{
    width: fit-content;
    font-size: 2vw;
    margin: auto;
    font-style: italic;
}
.setEstudioBtn {
    border: none;
    align-items: center;
    font-size: 2.5vw;
    font-weight: 500;
    cursor: pointer;
    display: flex;
}
.studioPalaceContainer{
align-content: center;}

.setDuoTxt{
    position: relative !important;
    display: block;
}

.mapContainer{
    background-color: black;
    display: flex;
}

.studioPlan{
    height: 80% !important;
    width: 80% !important;
    padding: 4vw;
    position: relative !important;
    margin: auto;
}

.cameraImg{
    padding: 15px;
}

.iluminacionTxtContainer, .iluminacionVideoContainer , .fondosTxtContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    align-items: center;
}


.iluminacionVideo{
    width: 50vw;
}

.imgContainer{
    background-color: black;
}

.estudioImg{
    position: relative !important;
    display: block;
}

.equipoTitle{
    font-size: xx-large;
    font-weight: 700;
    margin: 40px 0;
}
.downloadBtn{
    background-color: black;
    border-radius: 50px;
    padding: 10px;
    border: none;
    color: white;
    margin: 20px 0 ;
}
.modificadoresContainer, .fondosContainer, .iluminacionContainer, .complementariosContainer, .utileriaContainer{
    display: flex;
    margin-top: 10vw;
}

.utileriaContainer{
    margin-bottom: 10vw;
}

.modificadoresTxtContainer , .complementariosTxtContainer, .utileriaTxtContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.setsContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 100px;
  
}


.setPalaceImgLong{
    position: relative !important;
}

.miniCamSetContainer{
    display: flex;
}