
/* background video */

.videoContainer{
    width: 100%;
    overflow: hidden;
    display: flex;
  }

/* Pictures Home */

.homePictureContainer {
    display: flex;
    flex-direction: row;    
}

.textPictureHome, .pictureHome{
    display: flex;
}

/* NavBar */


.nav-item {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

.nav-item.active {
  color: #808080; /* Cambia a tu color preferido */
}

.navBarHomeHero {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 90px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
  }
  
  .navBarContainer {
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navBarLogo{
    margin: 0 30px;
  }
  
  .navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .socialNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    width: 210px;
  }
  
  .socialImg {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0px 4px 0px 10px;
  }

/* Marquee */


.marqueeContainer{
    color: white;
    background-color: #232021
}
.textMarquee{
    margin: 10px 50px;
    font-weight: 500;
}



/* Section */

.pictureContainer {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 90px;
  }
  
  .estudios, .servicios {
   display: grid;
   grid-template-columns: 50% 50%;
  }
  
  .baliEstudioPictures {
    position: sticky;
    top: 90px;
  }
  
  .baliEstudioImg1 {
    position: sticky !important;
  }
  
  .baliEstudioText{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    margin-left: 25%;
  }
  
  .baliEstudioTitle{
    font-weight: 700;
    margin-right: 115px;
  }
  
 
  .homeTitles{
    font-weight: 750;
  }

  .baliEstudioTitle2, .baliEstudioTitle3{
    font-weight: 750;
    font-size: 1.5em;
  }
  
  .produccionesContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  }
  
  .baliLogoWhiteContainer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
  }

  .baliTxt{
    margin: 1vw 0px;
    line-height: 1.2;
    font-weight: 700;
  }

  .baliTxtFirst{
    margin: 1vw 0px;
    line-height: 1.2;
    font-weight: 600
  }

  .baliTxtThird{
    font-weight: 800;
  }

  .conocemasBtn{
    background-color: black;
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 5px 30px;
  }

  .theFirts, .theSecond, .theThird{
    position: sticky;
    top: 90px;
  }

  .theSecondTxt{
    position: sticky;
    top: 200px;
    background-color: white;
  }
  .baliEspaciosTxt{
    min-height: 800px;
    background-color: black;
    color: white;
    font-weight: 700 !important;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* FAQ */
  
  .faqContainer{
    display: flex;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    font-size: small;
  }
  
  .questions, .answers{
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
  
  .questions{
    min-height: 500px;
    justify-content: center;
  }
  
  .answers{
    color: white;
    background-color: black;
    min-height: 500px;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: 100;
  }
  
  .answerOption{
    font-size: x-large;
    font-weight: 100;
  }
  
  .questionList{
    width: fit-content;
    align-self: center;
  }
  
  h3{
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .faqAnswer.selected{
    color: gray ;
  }
  
  /* Footer */
  
  .footerContainer{
    background-color: black;
    display: flex;
  }
  
  .footerLogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5vw 0;
  }
  
  .footerItems{
    display: flex;
    flex-grow: 1; 
    flex-basis: 0;
    align-items: center;
  }
  
  .footerRoutes{
    color: white;
  }
  
  .footerListItem{
    margin-bottom: 5px;
    }
  
  .footerListLine{
    margin-bottom: 5px;
    color: white;
    background-color: white;
    width: 50%;
    height: 1px;
  }
  
  .footerSocialMedia{
    display: flex;
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 30px;
  }
  
  .footerText{
    flex-grow: 1; 
    flex-basis: 0;
  }
  
  .footerTxtFirma{
    color: white;
    margin-right: 1vw;
  }

  