.mouseGifContainer{
    position: fixed;
    left: 50%;
    bottom: 40px; /* Ajusta este valor según sea necesario */
    transform: translateX(-50%);
    transition: opacity 0.1s ease;
  }

  .hidden {
    display: none;
  }