*{
  text-decoration: none;
  list-style: none;
  font-family: system-ui, -apple-system, Roboto;
  /* font-weight: 400; */
  margin: 0;
}

body {
  max-width: 1920px;
}

p{
  white-space: pre;
}

.link {
  text-decoration: none;
  outline: none; 
}