



*{
  text-decoration: none;
  list-style: none;
  /* font-family: 'Raleway';
  font-weight: 400; */
  margin: 0;
}

body {
  max-width: 1920px;
  margin: auto;
}

p{
  white-space: pre;
}

.link {
  text-decoration: none;
  outline: none; 
}

.btnStyle{
  background-color: black;
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 5px 30px;
  border: none;
}

/* App.module.css */
.card {
  width: 240px;
  height: 240px;
  background: linear-gradient(to bottom right, violet, fuchsia);
}

.cardBody {
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.svg {
  width: 36px;
  height: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.indicator {
  stroke: white;
}

.track {
  stroke: rgba(255, 255, 255, 0.1);
}

.value {
  font-size: 24px;
  font-weight: 600;
  color: white;
}


@media only screen and (max-width: 600px) {
  .navList{
  display: none !important;
  }

  Video {
    width: -webkit-fill-available;
  }

  .MouseGif_mouseGifContainer__kyJJb {
    display: none;
  }
  
  .baliEstudioPictures, .theFirts, .theSecond, .theThird{
    position: relative;
  top: unset;  }

  .baliEstudioText{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.3vw;
    margin-left: unset;
    padding: 2vw;
  }

  .btnStyle{
    align-self: center;
  }

  .baliLogoWhiteContainer{
    min-height: 300px;
  }

  .baliLogoCenter{
    width: 40vw;
    height: auto;
  }

  .baliTxtThird{
    font-weight: 800;
    text-wrap: pretty;
  }
}