*{
  text-decoration: none;
  list-style: none;
  font-family: system-ui, -apple-system, Roboto;
  font-weight: 500;
  margin: 0;
}

p{
  white-space: pre;
}

.link {
  text-decoration: none;
  outline: none; 
}