@media only screen and (min-width:769px) and (max-width: 992px) {
    Video{
      width: -webkit-fill-available;
    }
  
    .MouseGif_mouseGifContainer__kyJJb{
      display: none;
    }
  
  

    .socialNav{
      display: none;
    }

    .navBarLogo{
      width: 15vw;
      height: auto;
    }
  
    .navBarContainer{
      width: unset;
    }
  
    .navList {
      flex-direction: column;
      background-color: white;
      padding: unset;
      height: fit-content;
      border-radius: 5px;
      position: absolute;
      right: 0px;
      top: 70px;
      visibility: hidden;
      width: fit-content;
      align-items: end;
    }
  
    .visible {
      visibility: visible;
    }
  
    .nav-item {
      margin-bottom: 2vw;
      font-size: medium;
      margin-right: 30px;
    }
  
    .liNav {
      margin-bottom: 2vw;
    }
  
    .navBarLogo {
      width: 20vw;
      height: auto;
    }
  
    .navBtnList {
      display: block;
      align-self: center;
      transform: scale(1.5);
      border: 1px solid;
      border-radius: 2px;
      position: absolute;
      right: 30px;
      width: fit-content;
    }
  
    /* Home */
    .theFirts, .theSecond, .theThird, .baliEstudioPictures, .theSecondTxt {
      position: relative;
      top: unset;
    }
    .baliEstudioText{
      margin-left: 5%;
    }
  
    .baliEspaciosTxt{
      min-height: 500px;
      font-size: 7vw;
    }
  
    .baliLogoCenter{
      width: 40vw;
      height: auto;
    }
  
    .baliLogoWhiteContainer{
      min-height: 500px !important;
    }
  
    .questionList {
      padding: 2vw;
    }
  
    .baliLogoFaqs{
      width: 40vw;
      height: auto;
    }
    .answerOption{
      font-size: medium;
    }
  
    
  
  
    /* Conoce Bali */
    .conoceBaliParagraph{
      width: 60vw;
      font-size: larger;
    }
  
    .conoceBaliImgContainer{
      width: 50vw;
    }
  
    .conocePhotosContainer{
      min-height: 500px !important;
    }
    .conocePhoto2Container{
      height: 500px;
    }
    .conoceBaliParagraph2{
      font-size: large;
    }

    .ademasContainer{
      width: 80%;
      display: flex !important;
      flex-direction: column;
    }
  
    .footerLogoImg{
      width: 15vw;
      height: auto;
    }
  
    .footerItems{
      flex-basis: unset;
      flex-direction: column;
      justify-content: space-evenly;
    }
  
    .footerList{
      padding: unset;
      margin-top: 10px;
    }
    .footerLinks{
      flex-direction: column;
      align-items: unset;
    }
  
    .footerSocialMedia{
      align-self: flex-start;
    }
  
    .footerTxtFirma{
      margin-top: 2vw;
      display: flex;
      justify-content: flex-end;
      align-items: center;  
    }
  
  
    /* Equipos */
  
    .iluminacionContainer, .fondosContainer, .utileriaContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
          align-items: center;
    }
  
    .modificadoresContainer, .complementariosContainer{
      display: flex;
      flex-direction: column-reverse;
    }
  
    .iluminacionVideoContainer, .modificadoresVideoContainer, .complementariosVideoContainer{
      width: 90%;
    }

    .googleMap{
      width: 60vw;
      height: 50vw;
    }

    /* Resevas */

    .reservasIntroTxt{
      max-width: 50vw;
    }
  }